@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans");
@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

* {
  box-sizing: border-box !important;
  margin: 0;
}

body {
  background: #fefefe;
  padding: 12px;
  font-family: "GothamPro", "Open Sans", sans-serif;
  color: #333;
}

a {
  color: #138ade;
}

.page {
  height: 11in;
  width: 8.5in;
  padding: 0.25in;
  box-shadow: 0 0 11px 8px #00000038;
}

code {
  font-family: "Fira Mono", monospace;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "left-content right-content"
    "footer  footer";
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}

.body {
  padding: 0 2em;
}

@media print {
  body {
    padding: 0;
    margin: 0;
  }
  .page {
    box-shadow: none;
  }
}
