@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans");

* {
  box-sizing: border-box !important;
  /*margin: 0;*/
}

body {
  background: #fefefe;
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.page {
  font-family: "Open Sans", sans-serif;
  height: 11in;
  width: 8.5in;
  padding: 0.25in;
  box-sizing: border-box;
  box-shadow: 0 0 11px 8px #00000038;
}

code {
  font-family: "Fira Mono", monospace;
  background: lightgray;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

a {
  color: unset;
}
